* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(images/bg-pattern-bottom-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    font-family: "League Spartan", sans-serif;
    color: hsl(300, 43%, 22%);
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6em 7em;

}

h1 {
    font-size: 3rem;
}

.heading {
    max-width: 400px
}

.heading p {
    margin: 1.5em 0;
    line-height: 1.5em;
    font-weight: 400;
}

.ratings {
    display: flex;
    flex-direction: column;
    gap: 2em;

}

.star {
    margin: 0 0.1em;
}

.control {
    margin-right: 1.5em;
}

.ratings div {
    background-color: hsl(300, 24%, 96%);
    padding: 1em 6em 1em 3em;
    border-radius: .75em;
    font-weight: 700;
}

.reviews {
    box-sizing: border-box;
    display: flex;
    color: white;
    max-width: 100vw;
    display: flex;
    gap: 2em;
    padding: 0 7em 7em;
    margin-bottom: 4em;

}

.colton,
.irene,
.anne {
    border-radius: 10px;
    background-color: hsl(300, 43%, 22%);
    display: flex;
    flex-direction: column;
    padding: 3em;

}


span {
    color: hsl(333, 80%, 67%)
}

.colton img,
.irene img,
.anne img {
    border-radius: 90px;
    width: 3em;
    display: inline;
}

.author {
    gap: 1em;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

}

.anne p,
.colton p,
.irene p {
    line-height: 1.5em;
}

.irene {
    position: relative;
    top: 30px;
}

.anne {
    position: relative;
    top: 60px;
}

.author h3 {
    line-height: 1.5em;
    max-width: 150px;
}

.review1 {
    position: relative;
    right: 120px;
}

.review2 {
    position: relative;
    right: 60px;
}

.top {
    display: flex;
    flex-direction: row;
}